{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "_": "writable",
    "window": true,
    "document": true,
    "alert": true,
    "console": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-irregular-whitespace": [
      "error",
      {
        "skipRegExps": true,
        "skipTemplates": true
      }
    ],
    "new-cap": [
      "off"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "max-len": [
      "off"
    ],
    "block-spacing": [
      "error",
      "always"
    ],
    "require-jsdoc": [
      "off"
    ],
    "no-undef": [
      "off"
    ],
    "semi": [
      "error",
      "always"
    ],
    "array-bracket-newline": [
      "error",
      {
        "minItems": 2
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "array-element-newline": [
      "error",
      {
        "multiline": true,
        "minItems": 2
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "multiline": true,
          "minProperties": 2
        },
        "ObjectPattern": {
          "multiline": true,
          "minProperties": 2
        },
        "ImportDeclaration": {
          "multiline": true,
          "minProperties": 5
        },
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 5
        }
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ]
  },
  "ignorePatterns": [
    "node_modules/**/*.js",
    "wdio.conf.js",
    "features/helpers/base-class.js"
  ]
}
