android-screenshots/*
ios-screenshots/*
test_apk/*
.env
index.html
appium.txt
.editorconfig
node_modules
_linux/
.idea/
.vscode/
.DS_Store
support/*
*.log
package-lock.json
wdio.conf.json
package.json
report/*
