BASE_URL=stg1.indodana.com
DEVICE_ID=
DEVICE_MODEL=

#User credential
USER_PHONE=
PIN=
ATH_USER=
ATH_PIN=
SPLIT_ATH_USER=
SPLIT_ATH_PIN=
CLI_USER=
CLI_PIN=
SPLIT_CLI_USER=
SPLIT_CLI_PIN=
ATH_RO_USER=
ATH_RO_PIN=
CLI_RO_USER=
CLI_RO_PIN=
TIKET_USER=
TIKET_PIN=
BLIBLI_USER=
BLIBLI_PIN=
BUKALAPAK_USER=
BUKALAPAK_PIN=
STELLAR_USER=
STELLAR_PIN=
PAYMENT_USER=
PAYMENT_PIN=
CHANGE_PHONE_USER=
CHANGE_PHONE_PIN=
CHANGE_PIN_USER=
CHANGE_PIN_PIN=

USER_NEW_PHONE=
USER_NIK=
USER_MOTHER_MAIDEN_NAME=

WHITELABEL_USER_PHONE=
WHITELABEL_USER_EMAIL=
FORM_LANGUAGE=id
ORGANIZATION_NAME=INDODANA

#Bank Account
BANK_NAME=BCA
BANK_ACCOUNT_NAME=
BANK_ACCOUNT_NUMBER=
VANUMBER_PERMATA=

#User Address
USER_HOME=Ancol Mansion
USER_OFFICE=Plaza Bank Index
REFERENCE_HOME=

#API Domains
API_DOMAIN=https://stg1.indodana.com/api
CHERMES_DOMAIN=https://stg-k-api.indodana.com/chermes
ATHENA_DOMAIN=https://stg-k-api.indodana.com/athena
SERVICES_DOMAIN=https://stg-k-api.indodana.com/services
OPS_API_DOMAIN=https://stg-k-api.indodana.com/athena/internal
MERCHANT_DOMAIN=https://stg-k-api.indodana.com/merchant

OPS_USERNAME=
OPS_PASSWORD=

#DB Connection
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

KTP_LOCATION=/home/cermat/automation-test/android/features/support/images/KTP.jpg
KTP_FILE_NAME=KTP.jpg
SPLIT_FORM_KTP=
SPLIT_FORM_KTP_FILE_NAME=
RO_KTP_LOCATION=
RO_KTP_FILE_NAME=
SELFIE_LOCATION=/home/cermat/automation-test/android/features/support/images/selfie.jpg
SELFIE_NAME=selfie.jpg
SALARY_LOCATION=home/cermat/automation-test/android/features/support/images/salary.jpg
SALARY_NAME=salary.jpg

#Merchant token
YOUTAP_TOKEN=
INDODANA_API_KEY=
INDODANA_API_SECRET=
MDR_CUSTOMER_API_KEY=
MDR_CUSTOMER_API_SECRET=
BUKALAPAK_API_KEY=
BUKALAPAK_API_SECRET=
BLIBLI_API_KEY=
BLIBLI_API_SECRET=
TIKET_API_KEY=
TIKET_API_SECRET=
BUKALAPAK_API_KEY=
BUKALAPAK_API_SECRET=
